<% include header.ejs %>
	<div class="jumbotron">
		<h1>Welcome to your Car Database Site</h1>
		<p>This site is used with a simple login system to access to the database to manage your car collection.</p>
		<p>This is a test site; by Michael N. Esposito II</p>
		<p>Username: TestUser, password: password</p>
	</div>
<% include footer.ejs %>
